* {
    margin: 0;
    padding: 0;
}

.knar {
    background-image: url("images/Knar.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center; 
    border-bottom: 3px solid #555555;
    height: 100vh;
}

.content {
    background-color: #111111;
    border-top: 5px solid #666666;
}

.grid {
    display: grid;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    max-width: 1000px;
    padding: 1em;
    grid-gap: 1em;
}

.grid > div {
    background: #EDEDED;
    color: #333333;
    padding: 2em;
    margin: .1em;
    border-radius: .5em;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.title {
    color: #DEDEDE;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    max-width: 800px;
    padding: .5em;
    font-size: 3em;
    font-family: 'Roboto', sans-serif;
}

.video {
    width: 100%;
    height: 320px;
    padding: 10px 0;
}

.exampleImage {
    width: 100%;
    padding: 10px 0;
}